<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=\
    , initial-scale=1.0')
    link(rel='icon', type='image/png', sizes='16x16', href='../assets/images/favicon.png')
    title Sala de Chat
    // Bootstrap Core CSS
    link(href='assets/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // page css
    link(href='assets/css/pages/login-register-lock.css', rel='stylesheet')
    // Custom CSS
    link(href='assets/css/stylechat.css', rel='stylesheet')
    link(href='assets/css/chat.css', rel='stylesheet')
    link(href='assets/css/animate.css', rel='stylesheet')
    link(href='assets/css/pages/chat-app-page.css', rel='stylesheet')
    // You can change the theme colors from here
    link#theme(href='assets/css/colors/default-dark.css', rel='stylesheet')
  body
    #app
    script(src='/bundle.js')
