include mixins
<!DOCTYPE html>
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title News
  link(rel='icon' href='../public/assets/img/Fevicon.png' type='image/png')
  link(rel='stylesheet' href='../public/assets/vendors/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='../public/assets/vendors/fontawesome/css/all.min.css')
  link(rel='stylesheet' href='../public/assets/vendors/themify-icons/themify-icons.css')
  link(rel='stylesheet' href='../public/assets/vendors/linericon/style.css')
  link(rel='stylesheet' href='../public/assets/vendors/owl-carousel/owl.theme.default.min.css')
  link(rel='stylesheet' href='../public/assets/vendors/owl-carousel/owl.carousel.min.css')
  link(rel='stylesheet' href='../public/assets/css/style.css')
  link(rel='stylesheet' href='../public/assets/css/chat.css')

  +navbar

  main.site-main

    +banner

    +slider

    +starpost
  section.avenue-messenger.fonts-chat
    .menu
      .items
        span
          a(href='#' title='Minimize') &mdash;
          br
          //
            <a href="">enter email</a><br>
            <a href="">email transcript</a><br>
          a(href='#' title='End Chat') &#x2715;
      .button-chat ...
    .agent-face
      .half
        img.agent.circle(src='https://jeffjbutler.com/wp-content/uploads/2018/01/default-user.png' alt='Jesse Tino')
    .chat
      .chat-title
        h1 USER
        h2 Online
      #messages.messages
        #messages-content.messages-content
      #message-box.message-box
        textarea#message-input.message-input(type='text' placeholder='Type message...')
        button#message-submit.message-submit(type='submit') Send


  +footer
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='socket.io/socket.io.js')
  script(src='../public/assets/js/chat-socket.js')
  script(src='../public/assets/vendors/jquery/jquery-3.2.1.min.js')
  script(src='../public/assets/vendors/bootstrap/bootstrap.bundle.min.js')
  script(src='../public/assets/vendors/owl-carousel/owl.carousel.min.js')
  script(src='../public/assets/js/jquery.ajaxchimp.min.js')
  script(src='../public/assets/js/mail-script.js')
  script(src='../public/assets/js/main.js')
  script.
    document.addEventListener('DOMContentLoaded', function() {
    mockChat.init({
    id: "mockChat",
    data: ["Bonjour, souhaitez-vous me parler ?", "Oui, j'aimerais savoir ou se situe votre hôtel.", "Nous au 20 avenue Jean Michel dans le 6e arrondissement de Marseille.", "Merci !", "A votre service 🙂"],
    loop: true,
    delay: 1000, // Delay between messages
    startDelay: 1200, // Delay before starting the animation
    restartDelay: 3000, // Delay before restarting the animation if loop is set to true
    loop: true, // Loop the animation
    });
    })

