include mixins
<!DOCTYPE html>
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title News
  link(rel='icon' href='../public/assets/img/Fevicon.png' type='image/png')
  link(rel='stylesheet' href='../public/assets/vendors/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='../public/assets/vendors/fontawesome/css/all.min.css')
  link(rel='stylesheet' href='../public/assets/vendors/themify-icons/themify-icons.css')
  link(rel='stylesheet' href='../public/assets/vendors/linericon/style.css')
  link(rel='stylesheet' href='../public/assets/vendors/owl-carousel/owl.theme.default.min.css')
  link(rel='stylesheet' href='../public/assets/vendors/owl-carousel/owl.carousel.min.css')
  link(rel='stylesheet' href='../public/assets/css/style.css')

  +navbar
  +login
  
  +footer

  script(src='../public/assets/vendors/jquery/jquery-3.2.1.min.js')
  script(src='../public/assets/vendors/bootstrap/bootstrap.bundle.min.js')
  script(src='../public/assets/vendors/owl-carousel/owl.carousel.min.js')
  script(src='../public/assets/js/jquery.ajaxchimp.min.js')
  script(src='../public/assets/js/mail-script.js')
  script(src='../public/assets/js/main.js')
