mixin navbar
  header.header_area
    .main_menu
      nav.navbar.navbar-expand-lg.navbar-light
        .container.box_1620
          a.navbar-brand.logo_h(href='/')
            img(src='/public/assets/img/logo.png' alt='')
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          #navbarSupportedContent.collapse.navbar-collapse.offset
            if user
              ul.nav.navbar-nav.menu_nav.justify-content-center
                li(style='padding-top: 10px'): h5= 'Bienvenido ' + user.full_name 
              ul.nav.navbar-nav.menu_nav.justify-content-center
                li(style='padding-top: 15px')
                  a.blog__slide__label( style='background-color: green;' href='/news/create'): span(style='color: white') Nueva Publicacion
              ul.nav.navbar-nav.navbar-right.navbar-social
                li
                  a(href='/users/logout')
                    i.ti-user  | Logout
            else
              ul.nav.navbar-nav.menu_nav.justify-content-center
                a.btn.btn-success.text-light(href='/chat') Ir al chat general
              ul.nav.navbar-nav.navbar-right.navbar-social
                li
                  a(href='/users/login')
                    i.ti-user  | Login
              ul.nav.navbar-nav.navbar-right.navbar-social
                li
                  a(href='/users/register')
                    i.ti-user  | Register
            ul.nav.navbar-nav.navbar-right.navbar-social
              li
                a(href='#')
                  i.ti-facebook
              li
                a(href='#')
                  i.ti-twitter-alt
              li
                a(href='#')
                  i.ti-instagram
              li
                a(href='#')
                  i.ti-skype

mixin banner
  section.mb-30px
    .container
      .hero-banner
        .hero-banner__content
          h3 Noticias &amp; Más
          h1 Disfruta de contenido de calidad
          h4 Por Emerson, George y Frank

mixin slider
  section
    .container
      .owl-carousel.owl-theme.blog-slider
        each singlenew in news.reverse().slice(0, 5)
          .card.blog__slide.text-center
            .blog__slide__img
              img.card-img.rounded-0(src=`/${singlenew.image}` alt='')
            .blog__slide__content
              a.blog__slide__label(href=`/news/${singlenew._id}`) Ver más
              h3
                a(href='#')= singlenew.title 
              p= singlenew.format_date
        //-.card.blog__slide.text-center
          //-.blog__slide__img
            //-img.card-img.rounded-0(src='/public/assets/img/blog/blog-slider/blog-slide2.png' alt='')
          //-.blog__slide__content
            //-a.blog__slide__label(href='#') Fashion
            //-h3
              //-a(href='#') New york fashion week&apos;s continued the evolution
            //-p 2 days ago
        //-.card.blog__slide.text-center
          //-.blog__slide__img
            //-img.card-img.rounded-0(src='/public/assets/img/blog/blog-slider/blog-slide3.png' alt='')
          //-.blog__slide__content
            //-a.blog__slide__label(href='#') Fashion
            //-h3
              //-a(href='#') New york fashion week&apos;s continued the evolution
            //-p 2 days ago
        //-.card.blog__slide.text-center
          //-.blog__slide__img
            //-img.card-img.rounded-0(src='/public/assets/img/blog/blog-slider/blog-slide1.png' alt='')
          //-.blog__slide__content
            //-a.blog__slide__label(href='#') Fashion
            //-h3
              //-a(href='#') New york fashion week&apos;s continued the evolution
            //-p 2 days ago
        //-.card.blog__slide.text-center
          //-.blog__slide__img
            //-img.card-img.rounded-0(src='../public/assets/img/blog/blog-slider/blog-slide2.png' alt='')
          //-.blog__slide__content
            //-a.blog__slide__label(href='#') Fashion
            //-h3
              //-a(href='#') New york fashion week&apos;s continued the evolution
            //-p 2 days ago
        //-.card.blog__slide.text-center
          //-.blog__slide__img
            //-img.card-img.rounded-0(src='../public/assets/img/blog/blog-slider/blog-slide3.png' alt='')
          //-.blog__slide__content
            //-a.blog__slide__label(href='#') Fashion
            //-h3
              //-a(href='#') New york fashion week&apos;s continued the evolution
            //-p 2 days ago

mixin starpost
  section.blog-post-area.section-margin.mt-4
    .container
      .row
        .col-lg-8          
          each singlenew in news
            .single-recent-blog-post
              .thumb
                //img.img-fluid(src='../public/assets/img/blog/blog4.png' alt='')
                img.img-fluid(src=singlenew.image alt='')
                ul.thumb-info
                  li
                    a(href='#')
                      i.ti-user
                      | Admin
                  li
                    a(href='#')
                      i.ti-notepad
                      | January 12,2019
                  li
                    a(href='#')
                      i.ti-themify-favicon
                      | 2 Comments
              .details.mt-20
                a(href='blog-single.html')
                  h3= singlenew.title
                p= singlenew.short_description
                a.button(href=`/news/${singlenew._id}`)
                  | Leer Más 
                  i.ti-arrow-right
                if user
                  if user.role==='ADMIN' || user._id===singlenew.user_id
                    a.button(href=`/news/${singlenew._id}/update` type="submit" style='background-color: green; color: white; border-color: green')
                      | Editar 
                      i.ti-close
                    form(action=`/news/${singlenew._id}/delete` method="post" style="display: inline;")
                      button.button(type="submit" style='background-color: red; color: white; border-color: red')
                        | Eliminar 
                        i.ti-close
          .row
            .col-lg-12
              nav.blog-pagination.justify-content-center.d-flex
                ul.pagination
                  li.page-item
                    a.page-link(href='#' aria-label='Previous')
                      span(aria-hidden='true')
                        i.ti-angle-left
                  li.page-item.active
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#' aria-label='Next')
                      span(aria-hidden='true')
                        i.ti-angle-right
        .col-lg-4.sidebar-widgets
          .widget-wrap
            //-.single-sidebar-widget.newsletter-widget
              //-h4.single-sidebar-widget__title Newsletter
              //-.form-group.mt-30
                //-.col-autos
                  //-input#inlineFormInputGroup.form-control(type='text' placeholder='Enter email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'")
              //-button.bbtns.d-block.mt-20.w-100 Subcribe
            //-.single-sidebar-widget.post-category-widget
              //-h4.single-sidebar-widget__title Catgory
              //-ul.cat-list.mt-20
                //-li
                  //-a.d-flex.justify-content-between(href='#')
                    //-p Technology
                    //-p (03)
                //-li
                  //-a.d-flex.justify-content-between(href='#')
                    //-p Software
                    //-p (09)
                //-li
                  //-a.d-flex.justify-content-between(href='#')
                    //-p Lifestyle
                    //-p (12)
                //-li
                  //-a.d-flex.justify-content-between(href='#')
                    //-p Shopping
                    //-p (02)
                //-li
                  //-a.d-flex.justify-content-between(href='#')
                    //-p Food
                    //-p (10)
            .single-sidebar-widget.popular-post-widget
              h4.single-sidebar-widget__title Posts populares
              .popular-post-list
                -
                each singlenew in news.slice(0,2).reverse()
                  .single-post-list
                    .thumb
                      img.card-img.rounded-0(src=`/${singlenew.image}` alt='')
                      ul.thumb-info
                        li
                          a(href='#')= singlenew.format_date 
                    .details.mt-20
                      a(href='blog-single.html')
                        h6= singlenew.title
            .single-sidebar-widget.tag_cloud_widget
              h4.single-sidebar-widget__title Los mas recientes
              ul.list
                each singlenew in news
                  li
                    a(href=`/news/${singlenew._id}`)= singlenew.title

mixin details
  section.blog-post-area.section-margin
    .container
      .row
        .col-lg-8
          .main_blog_details
            img.img-fluid(src=`/${product.image}` alt='')
            a(href='#')
              h4=product.title 
                br
                |A Discount Toner
            .user_details
              .float-left
                a(href='#') Lifestyle
                a(href='#') Gadget
              .float-right.mt-sm-0.mt-3
                .media
                  .media-body
                    h5 Mark wiens
                    p=product.date_time
                  .d-flex
                    img(width='42' height='42' src='' alt='')
            p= product.description
            blockquote.blockquote
              p.mb-0=product.short_description
          .comments-area
            h4 
              i.ti-themify-favicon
              | 
              =comments.length 
              |
              |Comentario
            .comment-list
              each comment in comments
                .single-comment.justify-content-between.d-flex.mb-30px
                  .user.justify-content-between.d-flex
                    .thumb
                      img(src='../public/assets/img/user.png' alt='')
                    .desc
                      h5
                        a(href='#') Maria Luna
                      p.date 
                        = comment.date_time 
                      p.comment
                        = comment.content
          .comment-form
            h4 Leave a Reply
            form(action='/comments/create' method='post')
              input#inlineFormInputGroup.form-control.mb-30px(type='hidden'  name="user_id" value=user._id)
              input#inlineFormInputGroup.form-control.mb-30px(type='hidden'  name="post_id" value=product._id)
              .form-group
                textarea.form-control.mb-10(rows='5' name='content' placeholder='Content' required='')
              button.button.submit_btn(type='submit') Post Comment
        // Start Blog Post Siddebar
        .col-lg-4.sidebar-widgets
          .widget-wrap
            .single-sidebar-widget.newsletter-widget
              h4.single-sidebar-widget__title Newsletter
              .form-group.mt-30
                .col-autos
                  input#inlineFormInputGroup.form-control(type='text' placeholder='Enter email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'")
              button.bbtns.d-block.mt-20.w-100 Subcribe
            .single-sidebar-widget.tag_cloud_widget
              h4.single-sidebar-widget__title Popular Post
              ul.list
                li
                  a(href='#') project
                li
                  a(href='#') love
                li
                  a(href='#') technology
                li
                  a(href='#') travel
                li
                  a(href='#') software
                li
                  a(href='#') life style
                li
                  a(href='#') design
                li
                  a(href='#') illustration

mixin login
  br
  .container
    .row
      .col-4
      .col-lg-5.col-sm-12.mt-50.mb-30px
        .widget-wrap
          .single-sidebar-widget.newsletter-widget.text-center

            h1.single-sidebar-widget__title LOGIN
            if error
              h1.single-sidebar-widget__title(style='color: red;') Usuario o contraseña incorrectos, intente nuevamente
            if valid
              h1.single-sidebar-widget__title(style='color: green;') Registro exitoso, inicie sesión
            .form-group.mt-30
              form(action='/users/login' method='post')
                .mb-30px
                  input#inlineFormInputGroup.form-control(type='text' placeholder='Tu email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" name="email")
                .mb-30px
                  input#inlineFormInputGroup.form-control(type='text' placeholder='Tu contraseña' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" name="password")
                button.bbtns.d-block.mt-20.w-100(type='submit') Iniciar Sesión
      .col-4

mixin register
  br
  .container
    .row
      .col-4
      .col-4.mt-50.mb-30px
        .widget-wrap
          .single-sidebar-widget.newsletter-widget.text-center
            h1.single-sidebar-widget__title REGISTER
            form( method='post' action='/users/register' )
              .form-group.mt-30
                .mb-30px
                  input#inlineFormInputGroup.form-control(type='text' name='full_name' placeholder='Tu nombre completo' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter name'")
                .mb-30px
                  input#inlineFormInputGroup.form-control(type='email' name='email' placeholder='Tu email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter last name'")
                .mb-30px
                  input#inlineFormInputGroup.form-control(type='password' name='password' placeholder='Tu contraseña' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'")
              button.bbtns.d-block.mt-20.w-100(type="submit") Registrarse
      .col-4

mixin editpost
  br
  .container
    .row
      .col-3
      .col-6.mt-50.mb-30px
        .widget-wrap
          .single-sidebar-widget.newsletter-widget.text-center
            h1.single-sidebar-widget__title EDITAR POST
            if completed
              h1.single-sidebar-widget__title(style='color: green') GUARDADO SATISFACTORIAMENTE
            form( method='POST' action=`/news/${singlenew._id}/update?_method=PUT` enctype="multipart/form-data" )
              .form-group.mt-30
                .mb-30px
                  img(src=`/${singlenew.image}` style='width: 100%')
                .mb-30px
                  input#inlineFormInputGroup.form-control(type='text' value=`${singlenew.title}` name='title' placeholder='Title' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title'" required)
                .mb-30px
                  textarea#inlineFormInputGroup.form-control(name='short_description'  placeholder='Short Description' cols="30" rows="10" required)= singlenew.short_description
                .mb-30px
                  textarea#inlineFormInputGroup.form-control(name='description' placeholder='Description', cols="30", rows="10" required )= singlenew.description
                .mb-30px
                  input(name='image' type='file' )
              button.bbtns.d-block.mt-20.w-100(type="submit") Editar publicación
              a.bbtns.d-block.mt-20.w-100( href='/' style='background-color:white ' type="submit") Cancelar
      .col-4
mixin createpost
  br
  .container
    .row
      .col-3
      .col-6.mt-50.mb-30px
        .widget-wrap
          .single-sidebar-widget.newsletter-widget.text-center
            h1.single-sidebar-widget__title CREAR NUEVO POST
            form( method='post' action='/news/create' enctype="multipart/form-data" )
              .form-group.mt-30
                .mb-30px
                  input#inlineFormInputGroup.form-control(type='text' name='title' placeholder='Title' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title'" required)
                .mb-30px
                  textarea#inlineFormInputGroup.form-control(name='short_description', placeholder='Short Description', cols="30", rows="10" required)
                .mb-30px
                  textarea#inlineFormInputGroup.form-control(name='description', placeholder='Description', cols="30", rows="10" required
                  )
                .mb-30px
                  input(name='image' type='file' required)
              button.bbtns.d-block.mt-20.w-100(type="submit") Crear publicación
      .col-4

mixin footer
  footer.footer-area.section-padding
    .container
      .row
        .col-lg-3.col-md-6.col-sm-6
          .single-footer-widget
            h6 Sobre nosotros
            p
              | Somos uno de los portales de noticias mas confiables de Arequipa, nuestros lectores nos lo atribuyen 
        .col-lg-4.col-md-6.col-sm-6
          .single-footer-widget
            h6 Boletín
            p Suscribete a nuestro boletín
            #mc_embed_signup
              form.form-inline(target='_blank' novalidate='true' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
                .d-flex.flex-row
                  input.form-control(name='EMAIL' placeholder='Tu email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required='' type='email')
                  button.click-btn.btn.btn-default
                    span.lnr.lnr-arrow-right
                  div(style='position: absolute; left: -5000px;')
                    input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' value='' type='text')
                  //
                    <div class="col-lg-4 col-md-4">
                    <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                    </div>
                .info
        .col-lg-3.col-md-6.col-sm-6
          .single-footer-widget.mail-chimp
            h6.mb-20 Algunas fotos del equipo
            ul.instafeed.d-flex.flex-wrap
              li
                img(src='../public/assets/img/instagram/i1.jpg' alt='')
              li
                img(src='../public/assets/img/instagram/i2.jpg' alt='')
              li
                img(src='../public/assets/img/instagram/i3.jpg' alt='')
              li
                img(src='../public/assets/img/instagram/i4.jpg' alt='')
              li
                img(src='../public/assets/img/instagram/i5.jpg' alt='')
              li
                img(src='../public/assets/img/instagram/i6.jpg' alt='')
              li
                img(src='../public/assets/img/instagram/i7.jpg' alt='')
              li
                img(src='../public/assets/img/instagram/i8.jpg' alt='')
        .col-lg-2.col-md-6.col-sm-6
          .single-footer-widget
            h6 Siguenos
            p Let us be social
            .footer-social.d-flex.align-items-center
              a(href='#')
                i.fab.fa-facebook-f
              a(href='#')
                i.fab.fa-twitter
              a(href='#')
                i.fab.fa-dribbble
              a(href='#')
                i.fab.fa-behance
      .footer-bottom.d-flex.justify-content-center.align-items-center.flex-wrap
        p.footer-text.m-0
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.fa.fa-heart(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com' target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

